EAB1.0/ESBCenterPlateformImport/App_WebReferences/CenterService/CenterService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://CMMB/schema/DataTypes" elementFormDefault="qualified" targetNamespace="http://CMMB/schema/DataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RequestHead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SourceSysID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="TargetSysID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="TargetServiceName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="DataType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeviceTypeList" type="tns:ArrayOfDeviceTypeInfo" />
  <xs:complexType name="ArrayOfDeviceTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceTypeInfo">
        <xs:complexType>
          <xs:attribute name="DeviceTypeCode" type="xs:string" />
          <xs:attribute name="TypeName" type="xs:string" />
          <xs:attribute name="Desc" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FaultMessage">
    <xs:sequence>
      <xs:element name="FaultCode" type="xs:int" />
      <xs:element name="FaultDesc" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="FaultReason" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultMessage" nillable="true" type="tns:FaultMessage" />
  <xs:element name="DeviceTypeCode" type="xs:string" />
  <xs:element name="DeviceParameterList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameter" type="tns:ParameterType" />
      </xs:sequence>
      <xs:attribute name="DeviceTypeCode" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ParameterType">
    <xs:attribute name="ParameterCode" type="xs:string" />
    <xs:attribute name="ParamType" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
          <xs:enumeration value="3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="ValType" type="xs:int" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="DeviceTypeCode" type="xs:string" />
    <xs:attribute name="Unit" type="xs:string" />
    <xs:attribute name="UploadType" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
          <xs:enumeration value="3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Level" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
          <xs:enumeration value="3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="UpThreshold" type="xs:string" />
    <xs:attribute name="DownThreshold" type="xs:string" />
  </xs:complexType>
  <xs:element name="NotifyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Summary" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="DataInfo" type="tns:ProductionDataType" />
        <xs:element minOccurs="0" maxOccurs="1" name="Miscellaneous" />
      </xs:sequence>
      <xs:attribute name="Title" type="xs:string" />
      <xs:attribute name="Time" type="xs:dateTime" use="required" />
      <xs:attribute name="MonitorObjCode" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ProductionDataType">
    <xs:attribute name="MonitorObjCode" type="xs:string" />
    <xs:attribute name="DeviceCode" type="xs:string" />
    <xs:attribute name="ParameterCode" type="xs:string" />
    <xs:attribute name="Time" type="xs:dateTime" use="required" />
    <xs:attribute name="Value" type="xs:string" />
    <xs:attribute name="Status" type="tns:ParameterStatusType" use="required" />
    <xs:attribute name="Remark" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="ParameterStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MonitorObjType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChildNodes" type="tns:MonitorObjType" />
    </xs:sequence>
    <xs:attribute name="Port" type="xs:int" />
    <xs:attribute name="IP" type="xs:string" />
    <xs:attribute name="DutyTelephoneNumber" type="xs:string" />
    <xs:attribute name="Status" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="0" />
          <xs:enumeration value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Latitude" type="xs:decimal" />
    <xs:attribute name="Longitude" type="xs:decimal" />
    <xs:attribute name="ParentObjCode" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="MonitorObjCode" type="xs:string" />
    <xs:attribute name="PrincipalCode" type="xs:string" />
    <xs:attribute name="PlateformLevel" type="xs:int" use="required" />
    <xs:attribute name="Type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="0" />
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
          <xs:enumeration value="3" />
          <xs:enumeration value="4" />
          <xs:enumeration value="5" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DeviceInfoType">
    <xs:attribute name="DeviceCode" type="xs:string" />
    <xs:attribute name="MonitorObjCode" type="xs:string" />
    <xs:attribute name="DeviceName" type="xs:string" />
    <xs:attribute name="DeviceTypeCode" type="xs:string" />
    <xs:attribute name="ManufacturerCode" type="xs:string" />
    <xs:attribute name="EntryTime" type="xs:date" use="required" />
    <xs:attribute name="AbandonTime" type="xs:date" />
    <xs:attribute name="Status" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="0" />
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Remark" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DeviceTopologyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Nodes" type="tns:DeviceNodeType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Links" type="tns:LinkType" />
    </xs:sequence>
    <xs:attribute name="Desc" type="xs:string" />
    <xs:attribute name="Width" type="xs:double" use="required" />
    <xs:attribute name="Height" type="xs:double" use="required" />
    <xs:attribute name="ID" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="MonitorObjCode" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DeviceNodeType">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="GroupInfo">
          <xs:complexType>
            <xs:attribute name="BackgroundImgID" type="xs:string" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="DeviceInfo">
          <xs:complexType>
            <xs:attribute name="DeviceCode" type="xs:string" />
            <xs:attribute name="DeviceTypeCode" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Width" type="xs:double" use="required" />
    <xs:attribute name="Height" type="xs:double" use="required" />
    <xs:attribute name="LocationY" type="xs:double" use="required" />
    <xs:attribute name="LocationX" type="xs:double" use="required" />
    <xs:attribute name="ParentNodeID" type="xs:string" />
    <xs:attribute name="ID" type="xs:string" />
    <xs:attribute name="Desc" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="LinkType">
    <xs:attribute name="ID" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="FromNodeID" type="xs:string" />
    <xs:attribute name="ToNodeID" type="xs:string" />
    <xs:attribute name="ArrowDirection" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="0" />
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="FromPortName" type="xs:string" />
    <xs:attribute name="ToPortName" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MaintenanceDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="StuffCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MonitorObjCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransactionType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Summary" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Miscellaneous" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StuffInfoType">
    <xs:attribute name="StuffCode" type="xs:string" />
    <xs:attribute name="MonitorObjCode" type="xs:string" />
    <xs:attribute name="EntryID" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Position" type="xs:string" />
    <xs:attribute name="Telephone1" type="xs:string" />
    <xs:attribute name="Telephone2" type="xs:string" />
    <xs:attribute name="Status" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="0" />
          <xs:enumeration value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="E-Mail" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DataVersionType">
    <xs:attribute name="MonitorObjCode" type="xs:string" />
    <xs:attribute name="VersionCode" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MonitorObjTopologyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonitorObjNodes" type="tns:MonitorObjNodeType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Links" type="tns:LinkType" />
      <xs:element minOccurs="0" maxOccurs="1" name="MapImage" type="xs:base64Binary" />
    </xs:sequence>
    <xs:attribute name="Desc" type="xs:string" />
    <xs:attribute name="Width" type="xs:double" use="required" />
    <xs:attribute name="Height" type="xs:double" use="required" />
    <xs:attribute name="ID" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="MonitorObjCode" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MonitorObjNodeType">
    <xs:attribute name="ID" type="xs:string" />
    <xs:attribute name="MonitorObjCode" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="Desc" type="xs:string" />
    <xs:attribute name="Height" type="xs:double" use="required" />
    <xs:attribute name="Width" type="xs:double" use="required" />
    <xs:attribute name="LocationX" type="xs:double" use="required" />
    <xs:attribute name="LocationY" type="xs:double" use="required" />
  </xs:complexType>
  <xs:complexType name="ManufacturerInfoType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ManufacturerCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="ManufacturerName" />
      <xs:element minOccurs="0" maxOccurs="1" name="ManufacturerLinkMan" />
      <xs:element minOccurs="0" maxOccurs="1" name="ManufacturerLinkPhone" />
      <xs:element minOccurs="0" maxOccurs="1" name="ManufacturerAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfManufacturerInfoType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Manufacturer" type="tns:ManufacturerInfoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManufacturerInfoList" type="tns:ArrayOfManufacturerInfoType" />
  <xs:element name="MonitorObjCode" type="xs:string" />
  <xs:element name="MTAMessageData" type="tns:MessageDataType" />
  <xs:complexType name="MessageDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Param1" />
      <xs:element minOccurs="0" maxOccurs="1" name="Param2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Modes" type="tns:ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="Content" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
              <xs:attribute name="Name" type="xs:string" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="NeedReceipt" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="0" />
          <xs:enumeration value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Level" type="xs:string" />
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute name="Range" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="1" />
          <xs:enumeration value="2" />
          <xs:enumeration value="3" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="FunctionalClass" type="xs:string" />
    <xs:attribute name="MonitorObjCode" type="xs:string" />
    <xs:attribute name="GUID" type="xs:string" />
    <xs:attribute name="Time" type="xs:dateTime" use="required" />
    <xs:attribute name="StuffCode" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MTADataExtenableDefType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MsgFunctionClassEnum" type="tns:ArrayOfString1" />
      <xs:element minOccurs="0" maxOccurs="1" name="MsgLevelEnum" type="tns:ArrayOfString1" />
      <xs:element minOccurs="0" maxOccurs="1" name="MsgModeEnum" type="tns:ArrayOfString1" />
      <xs:element minOccurs="0" maxOccurs="1" name="MsgParam1Schema" />
      <xs:element minOccurs="0" maxOccurs="1" name="MsgParam2Schema" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransactionTypeEnum" type="tns:ArrayOfString1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnumEntity" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MTADataExtensionDef" type="tns:MTADataExtenableDefType" />
</xs:schema>