EAB1.0/ESBCenterPlateformImport/App_WebReferences/CenterService/ServiceStub.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://CMMB.ESBService.namespace" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ServiceStub" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://CMMB.ESBService.namespace" location="http://localhost:8731/CenterService?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="device" type="i0:DeviceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDeviceTypes">
      <soap:operation soapAction="GetDeviceTypes" style="document" />
      <wsdl:input name="GetDeviceTypesRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeviceTypesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultMessage">
        <soap:fault use="literal" name="FaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceParameterDefinition">
      <soap:operation soapAction="GetDeviceParameterDefinition" style="document" />
      <wsdl:input name="GetDeviceParameterDefinitionRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDeviceParameterDefinitionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultMessage">
        <soap:fault use="literal" name="FaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NotifyDataInfo">
      <soap:operation soapAction="NotifyDataInfo" style="document" />
      <wsdl:input name="NotifyDataInfo">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetManufacturerInfo">
      <soap:operation soapAction="GetManufacturerInfo" style="document" />
      <wsdl:input name="GetManufacturerInfoRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetManufacturerInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultMessage">
        <soap:fault use="literal" name="FaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="monitorObj" type="i0:MonitorObjInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMonitorObjStatus">
      <soap:operation soapAction="GetMonitorObjStatus" style="document" />
      <wsdl:input name="GetMonitorObjStatusRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMonitorObjStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultMessage">
        <soap:fault use="literal" name="FaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="mta" type="i0:MaintenanceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMTAMessage">
      <soap:operation soapAction="SendMTAMessage" style="document" />
      <wsdl:input name="SendMTAMessage">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetMTAExtendableDef">
      <soap:operation soapAction="GetMTAExtendableDef" style="document" />
      <wsdl:input name="GetMTAExtendableDefRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMTAExtendableDefResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultMessage">
        <soap:fault use="literal" name="FaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceStub">
    <wsdl:port name="device" binding="tns:device">
      <soap:address location="http://localhost:8731/CenterService/device" />
    </wsdl:port>
    <wsdl:port name="monitorObj" binding="tns:monitorObj">
      <soap:address location="http://localhost:8731/CenterService/monitorObj" />
    </wsdl:port>
    <wsdl:port name="mta" binding="tns:mta">
      <soap:address location="http://localhost:8731/CenterService/mta" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>