Protocol1/公共服务/ScriptService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp2 U (http://www.altova.com) by any (Ru-Board) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:y="http://JSTV/PublicService/ScriptService/" xmlns:ns="http://JSTV/MediaEntityDefinition/" xmlns:ns1="http://JSTV/RecordSystem/Parameter/" xmlns:ns2="http://JSTV/PublicService/Parameter/" targetNamespace="http://JSTV/PublicService/ScriptService/">
	<types>
		<xs:schema xmlns:tns="http://JSTV/RecordSystem/Parameter/" xmlns:ns2="http://JSTV/PublicService/Parameter/">
			<xs:import namespace="http://JSTV/PublicService/Parameter/" schemaLocation="PublicServiceParameter.xsd"/>
		</xs:schema>
	</types>
	<message name="ScriptQueryRequestMessage">
		<part name="ScriptQueryRequest" element="ns2:ScriptQueryRequest"/>
	</message>
	<message name="ScriptQueryResponseMessage">
		<part name="ScriptQueryResponse" element="ns2:ScriptQueryResponse"/>
	</message>
	<message name="ScriptImportRequestMessage">
		<part name="ScriptImportRequest" element="ns2:ScriptImportRequest"/>
	</message>
	<message name="ScriptImportResponseMessage">
		<part name="ScriptImportResponse" element="ns2:ScriptImportResponse"/>
	</message>
	<portType name="ScriptServicePortType">
		<operation name="scriptQuery">
			<input message="y:ScriptQueryRequestMessage"/>
			<output message="y:ScriptQueryResponseMessage"/>
		</operation>
		<operation name="scriptImport">
			<input message="y:ScriptImportRequestMessage"/>
			<output message="y:ScriptImportResponseMessage"/>
		</operation>
	</portType>
	<binding name="ScriptServiceBinding" type="y:ScriptServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="scriptQuery">
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="scriptImport">
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ScriptService">
		<port name="ScriptServicePort" binding="y:ScriptServiceBinding">
			<soap:address location="No Target Adress"/>
		</port>
	</service>
</definitions>
